export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export SDL_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx
export GLFW_IM_MODULE=ibus

export WINIT_X11_SCALE_FACTOR=1.5

setxkbmap -option "ctrl:nocaps"
xset r rate 200 30
